# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output directories
dist/
build/

# Environment variables (Contains sensitive API keys)
.env
.env.example
.env.local
.env.production

# Editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

node_modules
.next
.env
.env.local

dist
build